*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}

.textdiv{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    flex-direction: column;
    gap: 30px;

}

.inputboxes{
    position: relative;
    width: 250px;
    
}

#messageInput{
    width: 75rem;
    height: 20rem;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255,0.25);
    background: rgba(0,0,0,.2);
    border-radius: 0.5rem;
    outline: none;
    color: #fff;

    font-size: 1rem;
}

#sendms{
    width: 20rem;
}



